/* Put your CSS in here! */


.main {
    background-color: #0D7DFD;
    color: #212731;
    display: flex;
    flex-direction: column;
    margin-left:100px;
    margin-right:100px;
    padding-left: 150px;
    padding-right: 150px;
    box-shadow: 0 0 12px -2px #212731;
}

.product {
    margin: 10px;
    background-color: #BEDCFE;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative;
    transition: transform 0.3s;
  }

  .product-details {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #000;
    font-size: 14px;
    text-align: center;
  }